body {
  background-color: #fbfbfe;
  color: #17230b;
  margin: 5% 10%;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  color: darkmagenta;
  background-color: khaki;
  font-style: italic;
}
p.big {
  font-size: 24px;
}
p.header-mimic {
  color: indigo;
  font-size: 28px;
  font-weight: bolder;
}
p.anchor-mimic {
  color: midnightblue;
  text-align: right;
  text-decoration: underline;
}
#relative {
  position: relative;
}
#absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}